<section id="first-tab-group" class="tabgroup">
    <% @post.answers.each do |answer| %>
        <div id="tab1">
            <ul>
                <li>
                    <div class="item">
                        <%= image_tag answer.display_image if answer.image.attached? %>
                        <div class="text-content">
                           
                            <h4><%= answer.name %></h4>
                            <span><%= answer.comment %></span>
                             <p>Posted <%= time_ago_in_words(answer.created_at) if answer.created_at %> ago.
                             <%= answer.created_at %></p>
                            <div class = "row">
                            <div class="col-md-4">
                            <div class="accent-button button">
                            <ul>
                                <li><%= button_to "delete",post_answer_path(@post,answer), method: :delete, data: { confirm: "You sure?" },class: "accent-button button" %></li>
                            </ul>           
                            </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </li>                        
            </ul>
        </div>
    <% end %>
</section> 