<section id="blog" class="content-section">
    <div class="section-content">
        <div class="tabs-content">
            <div class="wrapper">
                <ol class="posts">
                    <%= render 'shared/post_show' %>
                </ol>
            </div>
        </div>
    </div>    

    <div class="section-content">
        <div class="tabs-content">
            <div class="wrapper">
                <%= will_paginate @answers, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>   
                <ul class="tabs clearfix" data-tabgroup="first-tab-group">
                    <li><a href="#tab1" class="active">July 2018</a></li>
                    <li><a href="#tab2">June 2018</a></li>
                    <li><a href="#tab3">May 2018</a></li>
                    <li><a href="#tab4">April 2018</a></li>
                </ul>   
                
                <% if @post.answers.any? %>
                    <h4>Number of answers　<%= @post.answers.count %> </h4>
                    <ol class="posts">
                        <%= render 'shared/answer' %>
                    </ol>
                <% end %>
                <%= will_paginate @answers, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>   
            </div>
        </div>
    </div>
</section>

<section id="contact" class="content-section">
    <div id="contact-content">
        <div class="section-heading">
            <h1>Please<br><em>Answers</em></h1>
            <p>親切なあなたへ
            <br>あなたの答えに私たちは感謝しています。</p>        
        </div>
        <div class="section-content">
            <div class="row"> 
                <%= render 'shared/answer_form' %> 
            </div>
        </div>
    </div>
</section>            