<header class="nav-down responsive-nav hidden-lg hidden-md">
    <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <!--/.navbar-header-->
    <div id="main-nav" class="collapse navbar-collapse">
        <nav>
            <ul class="nav navbar-nav">
                <li><%= link_to "Home",root_path %></li>
                <li><%= link_to "Index",posts_path %></li>
                <li><%= link_to "New",new_post_path %></li>
            </ul>
        </nav>
    </div>
</header>
<div class="sidebar-navigation hidde-sm hidden-xs">
    <div class="logo">
        <a href="#">tetete<em>＠知恵袋</em></a>
    </div>
    <nav>
        <ul>
            <li>
                <%= link_to root_path do %>
                    <span class="rect"></span>
                    <span class="circle"></span>
                    Home
                <% end %>
            </li>
            <li>
                <%= link_to posts_path do %>
                    <span class="rect"></span>
                    <span class="circle"></span>
                    Question Posts
                <% end %>
            </li>
            <li>
                <%= link_to new_post_path do %>
                    <span class="rect"></span>
                    <span class="circle"></span>
                    Let's ask
                <% end %>
            </li>
        </ul>
    </nav>
    <ul class="social-icons">
        <li>
            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Ftetetearraio916-portfolio1.herokuapp.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">
            <i class="fa fa-facebook" data-href="https://d924a5bf45a8441eba5b6ab8031669bd.vfs.cloud9.ap-northeast-1.amazonaws.com/" data-layout="button_count" data-size="small"></i>
            </a>
        </li>
        <li>
            <%= link_to "http://twitter.com/share?url=#{(root_url)}/&text=わからないことをなくそう！/&hashtags=tetete知恵袋" do %>
                <i class="fa fa-twitter"></i>
            <% end %>
        </li>
        <li>
            <%= link_to "https://social-plugins.line.me/lineit/share?url=#{(root_url)}/&text=家庭教師のワイズの先生です/&hashtags=成績UP" do %>
                <i class="fab fa-line"></i>
            <% end %>
        </li>    
    </ul>    
</div>